* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}
:root {
    --body-color: #efefef;
    --nav-color: #1876f2;
    --background-color: #fff;
}
.dark-theme {
    --body-color: #111111;
    --nav-color: rgb(49, 49, 49);
    --background-color: rgb(32, 32, 32);
}

body {
    background-color: var(--body-color);
    transition: background-color 0.3s;
}
ul {
    list-style: none;
}

/* Nav */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-color);
    padding: 5px 5%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.logo {
    width: 80px;
    margin-right: 45px;
}
.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}
.nav-left ul {
    display: flex;
}
.nav-left ul li img {
    width: 28px;
    margin: 0 15px;
    cursor: pointer;
}
.nav-user-icon {
    margin-left: 30px;
}
.nav-user-icon img {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.search-box {
    background-color: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.search-box img {
    width: 18px;
}
.search-box input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: none;
}
.online {
    position: relative;
}
.online::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #41db51;
    top: 30px;
    right: 5px;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}
.left-sidebar {
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}
.main-content {
    flex-basis: 47%;
}
.right-sidebar {
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 4px;
    color: #626262;
}
.imp-link a,
.shortcut-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}
.imp-link a:last-child {
    color: #1876f2;
}
.imp-link a img {
    width: 25px;
    margin-right: 15px;
}
.imp-link {
    border-bottom: 1px solid #ccc;
}
.shortcut-links a img {
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}
.shortcut-links p {
    margin: 25px 0;
    color: #626262;
    font-weight: 600;
}
.sidebar-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.right-event h4 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 4px;
}
.sidebar-title a {
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
    margin-top: 2px;
}
.event {
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
    align-items: center;
}
.event p {
    font-size: 12px;
}
.event a {
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}
.left-event {
    border-radius: 10px;
    width: 65px;
    height: 60px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.left-event span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1876f2;
    color: #fff;
    font-size: 10px;
    padding: 4px 0;
}
.sidebar-ads {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}
.online-list {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.online-list .online {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.online-list .online img {
    width: 40px;
    border-radius: 50%;
}
.story-gallery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
}
.story-gallery .story-next i {
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 40px;
    background-color: #3e4042;
    border-radius: 50%;
    color: #9da0a5;
    opacity: 0.7;
}
.story {
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.story img {
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 5px solid #1876f2;
}
.story:first-child img {
    border: none;
    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    width: 35px;
}
.story p {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.story1 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.7)),
        url(img/avatar-white.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.story2 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.7)),
        url(img/story-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.story3 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.7)),
        url(img/story-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.story4 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.7)),
        url(img/story-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.story5 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.7)),
        url(img/story-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.write-post-container {
    width: 100%;
    background-color: var(--background-color);
    border-radius: 5px;
    padding: 20px;
    color: #626262;
    position: relative;
}
.user-profile {
    display: flex;
    align-items: center;
}
.user-profile img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-profile p {
    margin-bottom: 3px;
    font-weight: 500;
    color: #626262;
    font-weight: 600;
}
.user-profile small {
    font-size: 12px;
}
.post-input-container {
    padding-left: 55px;
    padding-top: 20px;
}
.post-input-container textarea {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    resize: none;
}
.add-post-link {
    display: flex;
    margin-top: 20px;
}
.add-post-link a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 14px;
}
.add-post-link a img {
    width: 20px;
    margin-right: 10px;
}
.post-container {
    width: 100%;
    background-color: var(--background-color);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
    position: relative;
}
.post-container .post-text {
    margin-top: 20px;
    color: #626262;
    font-size: 14px;
}
.post-container .post-img {
    width: 100%;
    margin-top: 15px;
}
.user-profile span {
    font-size: 12px;
    color: #9a9a9a;
}
.post-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
}
.activity-icon div img {
    width: 20px;
    margin-right: 10px;
}
.activity-icon div {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}
.post-profile-icon {
    position: absolute;
    right: 30px;
    top: 30px;
}
.post-profile-icon i {
    color: #999;
}
.load-more-button {
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: #626262;
    background-color: transparent;
    border-radius: 4px;
}
.footer {
    text-align: center;
    color: #9a9a9a;
    padding: 10px;
    font-size: 12px;
}
.setting-menu {
    position: absolute;
    width: 90%;
    max-width: 350px;
    height: 350px;
    background-color: var(--background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    overflow: hidden;
    top: 105%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.3s;
}
.setting-menu-height {
    max-height: 450px;
}
.setting-menu-inner {
    padding: 20px;
}
.setting-menu-inner hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 15px 0;
}
.setting-menu .user-profile a {
    font-size: 12px;
    color: #1876f2;
    text-decoration: none;
}
.setting-link {
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.setting-link .setting-icon {
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
}
.setting-link a {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
}
#dark-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: padding-left 0.5s, background-color 0.3s;
}
#dark-button span {
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
}
#dark-button.dark-button-on {
    padding-left: 23px;
    background-color: #0a0a0a;
}
